main{
  display: flex;
}

#loja{
  width: 220px;
  background-color: #0e0e0f;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.saldo{
  color: #dda357;
  display: flex;
  align-items: center;
  justify-content: center;
}

.saldo p{
  color: #fff;
  font-weight: 700;
  font-size: 25px;
}

#section-monstro{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.monstro{
  height: 100%;
  pointer-events: none;
  user-select: none;
}

.monstro-container:active{
  transform: scale(1.2);
}

.monstro-container{
  padding: 20px;
  height: 60vh;
  background: none;
  border: none;
  cursor: pointer;
}

.barra-vida{
  width: 200px;
  background-color: #0e0e0f;
  border-radius: 4px;
  overflow: hidden;
  padding: 3px;
  display: flex;
  color: #fff;
  font-weight: 700;
}

.vida{
  border-radius: 2px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
